/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2021, 10:30:32 PM
    Author     : W10-PRO
*/

.table{
    width: 100%;
}

.row{
    display: block;
    width: 100%;
}

.btn{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #0033cc;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #333333;
}

.btn:hover{
    background-color: #0033ff;
    border: 1px solid #666666;
}

.box{
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    display: block;
}

.box-header{
    padding-bottom: 20px;
}